<div id="bg"></div>

<header role="header">
    <a href="#">Company Logo</a>
</header>

<main role="main">
    <section id="card">
        <ul>
            <li>
                <span></span>
                <strong>Fontawesome Icons</strong>
            </li>
            <li>
                <span></span>
                <strong>Custom Error Handling</strong>
            </li>
            <li>
                <span></span>
                <strong>TypeScript</strong>
            </li>
            <li>
                <span></span>
                <strong>Custom Components</strong>
            </li>
            <li>
                <span></span>
                <strong>SASS CSS</strong>
            </li>
        </ul>
    </section>
    <section id="primary">
        <h1>Your Personal Assistant</h1>
        <p>Get help with your daily life stuff.</p>

        <a routerLink="/">Go Back</a>
    </section>
</main>
